<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blogs API</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
          <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#postModal">Create
            Post</button>
        </div>
      </div>
    </div>
  </nav>
</div>

<app-posts></app-posts>


<!-- Post a Post Modal -->
<div class="modal fade" id="postModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="postModalLabel">Add a New Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValues">
          <div class="mb-3">
            <label for="postTitle" class="form-label">Post Title</label>
            <input type="text" class="form-control" id="postTitle" aria-describedby="postTitle"
              formControlName="postTitle">
          </div>
          <div class="mb-3">
            <label for="postAuthor" class="form-label">Post Author</label>
            <input type="text" class="form-control" id="postAuthor" aria-describedby="postAuthor"
              formControlName="postAuthor">
          </div>
          <div class="mb-3">
            <label for="postBody" class="form-label">Post Body</label>
            <input type="text" class="form-control" id="postBody" formControlName="postBody">
          </div>
          <div class="mb-3">
            <label for="postTags" class="form-label">Post Tags</label>
            <input type="text" class="form-control" id="postTags" formControlName="postTags">
          </div>
          <div class="mb-3">
            <label for="postReactions" class="form-label">Post Reactions</label>
            <input type="text" class="form-control" id="postReactions" formControlName="postReactions">
          </div>

        </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="AddNewPost()">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeDataModal">Close</button>
      </div>
    </div>
  </div>
</div>